@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

header {
    background-color: black;
    color: aliceblue;
    text-align: center;
    margin: -22px -8px 0px -8px;
    padding: 50px;
}

header h1 {
    font-variant: small-caps;
    margin-bottom: 1px;
    font-size: 5.5vw;
}

header a, footer a {
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    font-family: 'Sriracha', cursive;
    font-size: 1.6em;
    line-height: 2em;
    padding: 10vh 0px 10vh 30px;
    margin: 0px -8px;
}

section p {
    padding-bottom: 5px;
}

.imagem {
    background-color: rgba(137, 43, 226, 0.466);
    color: white;
    background-size: cover;
    background-attachment: fixed;
}

.imagem p {
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    padding: 10px;
}

#img1 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

#img2 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}

footer {
    background-color: black;
    color: aliceblue;
    margin: -8px;
    padding: 4px;
    text-align: center;
}

footer p {
    margin: 0%;
}